.sidebar-container {
    background-color: #f1f3f5; /* light gray */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-radius: 5px; /* slightly rounded */
    border: 2px solid #e8e9ea; /* lighter border */
}

.sidebar-btn {
    width: 100%;
    transition: background-color 0.2s ease;
    position: relative;
    border: none;
    background-color: #f1f3f5;
    color: rgb(17,85,131);
    overflow: hidden;

}

/* ICON */
.sidebar-btn .icon {
    height: 2vh;
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    
}

/* ===== DESKTOP STYLE ===== */
.sidebar-btn.desktop {
    border-radius: 5px;
}


/* bottom animated bar */
.sidebar-btn.desktop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;

    transition: width 0.3s ease;
}

/* active button background */
.sidebar-btn.desktop.active {
    background-color: rgb(38, 86, 130);
    color: white; 
}


/* default hover (non-active only) */
.sidebar-btn.desktop:not(.active):hover {
    background-color: rgb(56,135,199);
}

/* active state */
.sidebar-btn.desktop.active {
    background-color: rgb(38, 86, 130);
    color: white;
}


.sidebar-btn.desktop.active:hover {
    background-color: rgb(38, 86, 130);
}

/* keep it after click */
.sidebar-btn.desktop.active::after {
    width: 100%;
}


/* subtle gray hover */
.sidebar-btn.desktop:hover {
    background-color: rgb(56,135,199);
}

.sidebar-btn.desktop:hover::after,
.sidebar-btn.desktop.active::after {
    width: 100%;
    background: rgb(38, 86, 130);
}

/* default mobile text */
.sidebar-btn.mobile {
    color: rgb(17,85,131);
}

/* active mobile button */
.sidebar-btn.mobile.active {
    background-color: rgb(38, 86, 130);
    color: white;
}

.sidebar-btn.mobile:hover {
    background-color: rgb(56,135,199);
}

/* tap feedback */
.sidebar-btn.mobile:active {
    background-color: #dee2e6;
}